In [3]:
import pandas as pd

In [ ]:
car_df=pd.read_pickle("../data/danawa_cars.pkl")

In [3]:
car_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rank          49 non-null     object
 1   modelname     49 non-null     object
 2   sales         49 non-null     object
 3   market_share  49 non-null     object
dtypes: object(4)
memory usage: 1.7+ KB

In [4]:
car_df.head()

  rank modelname    sales market_share
0    1       쏘렌토  100,002         8.9%
1    2       카니발   78,218         6.9%
2    3       아반떼   77,636         6.9%
3    4      스포티지   74,517         6.6%
4    5       그랜저   71,775         6.4%