### 데이터 불러오기

In [81]:
import pandas as pd
genesis_df=pd.read_pickle("./data/FAQ_Genesis.pkl")
hyundai_df=pd.read_pickle("./data/FAQ_Hyundai.pkl")
kia_df=pd.read_pickle("./data/FAQ_KIA.pkl")

In [82]:
# 세로로 합치기
faq_df = pd.concat(
    [genesis_df, hyundai_df, kia_df],
    axis=0,
    ignore_index=True
)

In [84]:
faq_df['company'].unique()

array(['genesis', 'hyundai', 'kia'], dtype=object)

In [85]:
faq_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 896 entries, 0 to 895
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   category       896 non-null    object
 1   company        896 non-null    object
 2   answer_text    896 non-null    object
 3   question_text  896 non-null    object
dtypes: object(4)
memory usage: 28.1+ KB

In [89]:
faq_df[faq_df['company']=='kia'].head()

,category,company,answer_text,question_text
666,충전,kia,일부 완속 충전기는 관리의 어려움 등의 이유로 충전 케이블 미 설치\n이런 경우 개...,완속 충전 케이블은 언제 사용하나요?
667,충전,kia,국가표준으로 지정된 충전구의 핀 갯수로 구분됨\n핀이 5개인 AC단상은 완속 충전기...,완속과 급속 충전기는 어떻게 구분하나요?
668,충전,kia,저공해차 통합 누리집 사이트(\nWWW.EV.OR.KR\n)에서 공공 충전 멤버십 ...,충전카드는 어떻게 발급받아야 하나요?
669,충전,kia,충전카드가 없어도 교통카드나 신용카드로 비회원 충전이 가능함\n충전 멤버십 카드 보...,결제방식은 어떻게 되나요?
670,충전,kia,환경부 급속충전기는 1회 충전당 40분 컷을 적용하고 있음 (사용자 재인증 후 추가...,급속충전기는 어떠한 사용제약이 있나요?

In [90]:
faq_df[faq_df['company']=='genesis'].head()

,category,company,answer_text,question_text
0,ALL,genesis,[차량 구매] 제네시스 구입 후 세금계산서 발급받으려고 하는데 어떻게 해야 하나요?,제네시스 구입 후 세금계산서 발급받으려고 하는데 어떻게 해야 하나요?
1,ALL,genesis,[차량 구매] 제네시스 차량 구입 시 의무보험료란 금액을 납부하였습니다. 이것은 ...,제네시스 차량 구입 시 의무보험료란 금액을 납부하였습니다. 이것은 어떤 종류의 보험...
2,ALL,genesis,[차량 구매] 일정기간 이상 지난 차량은 자동차세가 경감된다고 하는데 그 내용을 ...,일정기간 이상 지난 차량은 자동차세가 경감된다고 하는데 그 내용을 알고 싶습니다.
3,ALL,genesis,[차량 구매] 부가세 환급을 받을 수 있는 차종 및 조건은 무엇인가요?,부가세 환급을 받을 수 있는 차종 및 조건은 무엇인가요?
4,ALL,genesis,[차량 구매] 차량에 부과되는 세금은 어떤 종류가 있나요?,차량에 부과되는 세금은 어떤 종류가 있나요?

In [91]:
faq_df[faq_df['company']=='hyundai'].head()

,category,company,answer_text,question_text
421,차량구매,hyundai,현대 인증중고차 (certified.hyundai.com) 의 내차팔기 서비스를 통...,"보유중인 자동차를 팔고 싶은데, 어떻게 하면 좋을까요?"
422,차량구매,hyundai,"포인트는 블루멤버스 사이트 내에서 현금 처럼 사용 하실 수 있으며, \n고객님께서 ...",포인트는 어떻게 활용하나요?
423,차량구매,hyundai,서비스/멤버십 > 내차 항목의 '친환경 폐차 신청'으로 들어가셔서 신청하시는 것이 ...,폐차 의뢰 및 신청은 어떻게 하나요?
424,차량구매,hyundai,▶ 자동차 구입시 신용카드를 이용한 결제는 고객님 신용카드 한도내에서 희망하시는 금...,차량구입시 신용카드는 얼마까지 이용할 수 있나요?
425,차량구매,hyundai,"▶ 예, 가능합니다. 신용카드 갯수에 제한없이 결제가 가능합니다.",차량구입시 신용카드는 복수의 카드로 결제가 가능한가요?

In [92]:
faq_df.to_pickle("./data/FAQ_3company.pkl")

In [93]:
faq_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 896 entries, 0 to 895
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   category       896 non-null    object
 1   company        896 non-null    object
 2   answer_text    896 non-null    object
 3   question_text  896 non-null    object
dtypes: object(4)
memory usage: 28.1+ KB